*{
    margin: 0;
    padding: 0;
    /* se cambia el modelo de la pagina */
    box-sizing: border-box;
}
html{
    background-image: url(/mapa.jpg);
    background-repeat:no-repeat;
    background-position: center center;
    height: 1000px;
    /* background-attachment: fixed; */
    background-size:cover;

}
body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* se adapta a ualquier tipo de pantalla */
    font: size 1.5em;em;
    /* ocupe toda la pantalla */
    min-height: 100%;
}
body > *{
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    border-radius: 4px;  padding: 10px; 
    text-align: center;
}
body{
    display: grid; /* proporciona una cuadrícula de una sola columna */
    gap:10px; /*Separación de los elementos */
}
body{
    grid-template-areas: 
    "header"
    "nav"
    "article"
    "aside"
    "footer";
}
.header{
    grid-area: header;
    background-color: darkorchid;
}
.nav{
    grid-area: nav;
    background-color: rgb(237, 100, 100);
}
.article{
    grid-area:article;
    background-color: chartreuse;
}
.aside{
    grid-area: aside;
    background-color: dodgerblue;
}
.footer{
    grid-area: footer ;
    background-color: crimson;
}

img:hover{
    filter: opacity(.5);
    
}

/*  PSEUSOCODIGO:es una palabra clave que se les añade a los selectores y que especifica un estado especial del elemento selccionado */

/* TAMAÑO TABLET */

@media (min-width:600px){
    body{
        grid-template-columns: 200px auto;grid-template-rows: 100px 50px auto 100px;grid-template-areas:"header header""nav nav""aside article""footer footer";
    }
    }
/* TAMAÑO ESCRITORIO */

@media (min-width:900px){
    body{
        grid-template:
        "header header header" 100px
        "nav article aside"  auto
        "footer footer footer"  100px 
        200px auto 200px
         ;
        }
    }